/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*////////////////////////
    1. Global Styles
////////////////////////*/

/*(grijs #899CA0 en donkergroen #1C2B32)*/

body{
    font-family: 'Poppins', sans-serif;
    color: #1C2B32;
}

button{
    background-color: #1C2B32;
    color: #fff;
}

/*////////////////////////
    2. Typography
////////////////////////*/

h1{
    font-size: 90px;
    font-weight: 700;
}

h2{
    font-size: 48px;
}

h3{
    font-size: 48px;
}

h4{
    font-size: 48px;
}

h5{
    font-size: 48px;
}

h6{
    font-size: 48px;
}

p{
    font-size: 16px;
    font-weight: 400;
}


/*////////////////////////
    3. Areas
////////////////////////*/



/*///////////// 3.1 Header /////////////*/

.header{
    height: 100vh;
    background-image: url("/assets/images/mountains.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1, p{
    margin-bottom: 30px;
}

/* Form wrapper styling */

.search-wrapper {
    width: 450px;
    height: 50px;
    /*margin: 150px auto 50px auto;*/
    border: 2px solid #1C2B32;
    border-radius: 40px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Form text input */

.search-wrapper input {
    width: 50%;
    height: 20px;
    border-style: none;
    background: transparent;
    color: #1C2B32;
    padding-left: 20px;
}

::placeholder {
    color: #1C2B32;
    font-size: 16px;
}

.search-wrapper input:focus {
    outline: 0;
}

/* Form submit button */
.search-wrapper button {
    height: 100%;
    width: 180px;
    border-radius: 0px 40px 40px 0px;
    border: none;
}

.search-wrapper button:hover{

}

/*///////////// 3.2 Testimonial /////////////*/



/*///////////// 3.3 Support /////////////*/



/*///////////// 3.4 Faq /////////////*/



/*///////////// 3.5 Footer /////////////*/